body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px;
    text-align: center;
}

.work-item {
    margin: 30px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
